{% extends 'main/layout.html' %}

{% block content %}

            <h3 style="text-align: center">PRIVACY POLICY AND COOKIE POLICY</h3>
            <div> <center><strong><i>This Privacy Policy was last updated on July 29th, 2019.</i></strong></center>
                <p>
                    All capitalized, bolded or italicized term used and not defined herein shall have their meanings
                    ascribed to them in 360academia’s Terms of Use.
                </p>
                <p>
                    If any other language version of this policy exists now or later in the future, it only exists for convenience sake, and the English version will control in any case of conflict by any translated version.
                        360academia provides this this policy to help you understand how we collect, store, use, share
                        or disclose information we obtain that pertains to you when you use our services.
                </p>
                <p>
                This policy is provided to properly inform you on how to provide or update your information on our services.
                This policy takes effect when you use our services where we provide a link to this policy or any other policy provided, unless otherwise stated.
                </p>
                <p>
                    “Use” herein shall mean accessing, installing , use, sign up, sign into, download, visit, search or browse the services as stated and defined in our terms and conditions.
                </p>
                <p>
                    This document contains an agreement between us (you and 360academia), if you choose to use our services or any of our resources (the Terms) in indicated that you fully understand and agree to these terms. You are required to review this Privacy Policy as well as any other agreement or policy provided by us that governs your use of our services.
                </p>
                <p>
                    By this, you are advised not to use our services if you do not agree with all our agreements and policies.
                </p>
                    <hr>
                <p>
                <strong>Providing us with your information:</strong>
                </p>
                <p>
                    Information about you may be collected by 360academia depending on the way and manner you engage or use our services or systems. It is important to note that 360academia is not responsible in any way for the use of information that is publicly available or accessible.
                    When you directly or via a third party platform sign up to our services, based on the service you intend to use, we will collect such information. Some examples of these information includes:
                </p>
                <hr>
                <p>
                    <strong>Registration Information:</strong>
                <p>
                    Studying a course/courses or uploading a course/courses or other materials with 360academia.com requires you to register as a user or other privileges. The information required might change from time to time.
                    Information collected from you makes up your user profile. The information provided may be provided publicly to other members that access our system.
                </p>
                <hr>
                <p>
                <strong>Shared Contents:</strong>
                <p>
                    Some services requires you to post a comment, add a review, submit a testimonial, etc. Such information may be publicly shared and/or collected by 360academia.com.
                    You therefore hereby grant us (360academia.com) access to exploit and use your information privately and publicly.
                </p>
                <p>
                    Courses on 360academia.com may be added by third parties. You hereby grant us permission to share your information with these publishers. 360academia do not control how the information we share that they collect are used.
                </p>
                <hr>
                <p>
                    <strong>Payment Information:</strong>
                </p>
                <p>
                    In an occasion where you are required to make any form of payments or purchases on 360academia.com, certain information may be collected in order to complete such transactions. We serve as a channel for the purchase, but we do not store credit card information or billing addresses. The third party agents handle all of your billing information.
                </p>
                <hr>
                <p>
                <strong>Third part Information:</strong>
                <p>
                    Information shared with us by third parties with your permission shall be treated with our own terms and conditions/privacy policies.
                </p>
                <hr>
                <p>
                <strong>Promos and Surveys:</strong>
                <p>
                    Occasionally, promos may be given, and survey collected through ours or third party websites. If you choose to participate in any of these, the information you provide will be collected and stored by both us as the third party websites. On our website, we have complete control over you information. On any third party website, we do not have control over the information you provide to them.
                </p>
                <hr>
                <p>
                <strong>Other Information:</strong>
                </p>
                <p>
                    If you contact us before or after you have registered, or provide any form of information to us, we shall collect, store and store the information. These information includes: cookies, support, etc.
                </p>
                <hr>
                <strong>Online Advertisement:</strong>
                <p>
                    We may use third party advertisements and/or advertising technologies. The ads (advertisement) may be displayed based on yourcookies and previous search results.
                </p>
            </div>
            <br><br><br>
{% endblock %}