{% extends 'main/layout.html' %}

{% block content %}

<center>
    <h3 style="text-align: center">TERMS OF USE</h3>
</center>
    <div>
            To use www.360academia.com or any of its recourses, you shall abide by the terms and conditions that govern the use of our services. This document contains an agreement between us (you and 360academia), if you choose to use our service(s) or any of our resources (the Terms) in indicated that you fully understand and agree to these terms.
        <p>
            These system is owned, managed and operated by 360academia (us/our/we) and these Terms informs the obligations of every user (you/your), with regards to your use of this service.
        </p>
        <p>
            These terms and policies may be reviewed at any point. However, you shall be informed of any changes made. After going through the whole document and you do not agree to the terms and privacy policy, please refrain from using this service.
        </p>
        <p>
            In a situation where you have any questions or queries about this document of any other document pertaining to us, please contact us(www.360academia.com).
        </p>
               <strong>Liability</strong>
        <p>
            There is no form of guarantee or warranty on any material contained with/and every course on 360academia.com or linked websites/resources. 360academia.com doesn’t affirm that all resources are accurate or complete and as such these materials shouldn’t be relied upon. Every arrangement what so ever between you and anyone else, using 360academia.com as a factor of any kind is entirely up to you and entirely at your own risk, 360academia.com shall not be held responsible by any means at all.
        </p>
    </div>
<br><br><br>
{% endblock %}